.NavbarItem {
	display: block;
	width: 100%;
	text-align: center;
	height: 100%;
}
.NavbarItem a {
	padding: 18px 10px;
	font-size: 20px;
	font-weight: 400;
	color: black;
	width: 100%;
}
.NavbarItem a:hover {
	text-decoration: none;
	color: white;
}
.NavbarItem:hover {
	// background-color: rgba(220, 20, 60, 0.603);
	background-color: black;
	// transition: background-color 1s ease-in-out;
}
@media (min-width: 768px) {
	.NavbarItem {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
	}
}
