%flexStyling {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ComplaintMenu {
	.Main {
		display: flex;
		width: 100%;
		padding: 20px;
		// background-color: burlywood;

		.Sidebar {
			max-width: 300px;
			width: 100%;
		}

		.FormSection {
			margin: 0 20px;
			// background-color: #80a8cc42;
			width: 100%;
			background-color: white;
			box-shadow: 0 0 5px 2px lightgray;
			padding: 30px 30px;
			text-align: center;

			h2 {
				font-weight: 900;
			}
		}
	}
}

.ComplaintMenu .Menu {
	@extend %flexStyling;
	flex-wrap: wrap;
	padding: 1.5cm 2cm;

	a {
		text-decoration: none;

		.MenuItems {
			color: black;
			padding: 1.3cm;
			font-size: 20px;
			background-color: brown;
			margin: 10px;
		}
	}
}
