@import "../../../Styles/Colors";
.Logo {
	font-size: 20px;
	padding: 16px;
	font-weight: 700;
	color: $mainColor;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}
