/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

@keyframes loader-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader {
	border-right-color: transparent;
	animation: loader-rotate 1s linear infinite;
}
